.input-box {
  margin-top: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.input-style {
  border-radius: 9px;
  border: 4px solid black;
  width: 1000px;
  display: flex;
  justify-content: center;
  height: 140px;
  align-items: center;
  background: radial-gradient(
      circle at 100% 50%,
      transparent 20%,
      rgba(255, 255, 255, 0.3) 21%,
      rgba(255, 255, 255, 0.3) 34%,
      transparent 35%,
      transparent
    ),
    radial-gradient(
        circle at 0% 50%,
        transparent 20%,
        rgba(255, 255, 255, 0.3) 21%,
        rgba(255, 255, 255, 0.3) 34%,
        transparent 35%,
        transparent
      )
      0 -50px;
  background-color: rgba(21, 100, 100, 0);
  background-size: 75px 100px;
}
.tabdata {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
