.firstpage-box {
  background-image: url("./firstimg.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

.firstpage-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: x-large;
  width: 100%;
  flex-direction: row;
}

.firstpage-infotitle {
  font-family: Quaxcites;
  margin-top: 15px;
  font-size: xx-large;
  margin-left: 170px;
  height: auto;
  color: antiquewhite;
  align-self: flex-start;
  justify-self: flex-end;
}
