.input-button {
  width: 120px;
  border: 1px solid wheat;
  margin-right: 0.5px;
  margin-left: 1px;
}
.input-button:hover {
  background-color: greenyellow;
}
.input-clearbtn {
  border: 1px solid wheat;
  width: 80px;
  margin-left: 0.5px;
}
.input-clearbtn:hover {
  background-color: greenyellow;
}
.input-uploadbtn {
  margin-right: 0.5px;
  width: 80px;
  height: 49px;
  border: 1px solid wheat;
}
.input-grp {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
