.admin-nav {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 800;
  font-family: Quaxcites;
  height: 6vh;
  width: 100vw;
  flex-direction: row;
}
.admin-outbtn {
  margin: 13px;
}
