.admin-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: 800;
  height: 7vh;
  width: 100vw;
  flex-direction: row;
}
.admin-outbtn {
  position: absolute;
  right: 10px;
  top: 10px;
}
