.modifyusers-nav {
  display: flex;
  justify-content: space-between;
  font-size: xx-large;
  font-weight: 800;
  height: 7vh;
  width: 100vw;
  flex-direction: row;
}
.modifyusers-backbtn {
  margin-left: 15px;
  margin-top: 3px;
  align-self: flex-start;
}
.modifyusers-extra {
  color: rgba(7, 27, 82, 1);
  margin-right: 20px;
}
