.forgotpassword-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
}
.forgotpassword-nav {
  display: flex;
  justify-content: space-between;
}
.forgotpassword-msg {
  text-align: center;
  font-size: larger;
}
.forgotpassword-backbtn {
  margin-left: 15px;
  margin-top: 3px;
  align-self: flex-start;
  font-size: xx-large;
}
.forgotpassword-subbox {
  width: 35%;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: aliceblue;
  padding: 10px;
  border-radius: 7px;
}
.forgotpassword-label {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: x-large;
}
.forgotpassword-input {
  height: 50px;
  border-radius: 10px;
  border: 2px solid black;
  width: 100%;
  display: block;
  font-size: larger;
  padding: 5px;
}
.forgotpassword-btn {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.forgotpassword-insidebtn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: #1877f2;
  color: white;
}
.forgot-icon {
  display: flex;
  justify-content: center;
}
