.navigation-box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navigation-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.navigation-logo {
  align-items: flex-start;
  height: 170px;
  width: 215px;
}
