.navigation-box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navigation-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.navigation-logo {
  align-items: flex-start;
  height: 180px;
  width: 220px;
}

.navigation-title {
  font-family: Quaxcites;
  font-weight: 300;
  color: #31dee1;
}
