.navigation-box {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.navigation-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.navigation-logo {
  height: 165px;
  width: 205px;
}
