.loginsignupnav-container {
  display: flex;
  justify-content: space-between;
}
.loginsignupnav-space {
  display: flex;
  align-items: center;
  width: 250px;
  margin-left: 15px;
}
.loginsignupnav-button {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
}
.loginsignnav-box {
  background-image: url("./firstimg.png");
  background-size: auto;
  height: 100%;
  width: 100%;
}
