.loginsignupnav-container {
  display: flex;
  justify-content: space-between;
}
.loginsignupnav-space {
  display: flex;
  align-items: center;
  width: 250px;
  margin-left: 15px;
}
.loginsignupnav-button {
  display: flex;
  width: 280px;
  justify-content: space-between;
  margin-right: 10px;
  align-items: center;
}
.loginsignnav-box {
  /* background-image: url("./firstimg.png"); */
  background-size: auto;
  position: relative;
  /* opacity: 0.5; */
  height: 100%;
  width: 100%;
}
.imagetag {
  position: absolute;
  z-index: -10;
  height: 100vh;
  width: 100vw;
}
