.firstpage-box {
  background-image: url("./firstimg.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
}
.firstpage-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-direction: row;
}

.button-box {
  margin-top: 10px;
  margin-right: 10px;
  width: 220px;
  display: flex;
  justify-content: space-between;
}
