.loginSignup-section {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.loginSignup-container {
  position: relative;
  width: 400px;
  height: 460px;
  background: #696161;
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}
.loginSignup-container::before {
  position: absolute;
  top: -50%;
  left: -50%;
  content: "";
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, rgb(0, 221, 255));
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
}
.loginSignup-container::after {
  position: absolute;
  top: -50%;
  left: -50%;
  content: "";
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, rgb(0, 255, 8));
  animation: animate 6s linear infinite;
  transform-origin: bottom right;
  animation-delay: -3s;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loginSignup-panel {
  padding: 10px;
  position: absolute;
  inset: 5px;
  z-index: 10;
  background: #000000;
  /* background: linear-gradient(to right, #951de5, #ec1a75) !important; */
}
