.about-title {
  padding-top: 15px;
  font-size: 50px;
}
.about-box {
  text-align: center;
}
.about-info {
  font-weight: 400;
  font-size: x-large;
  margin: 10px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about-img {
  display: inline-block;
  border-radius: 35px;
  margin-top: 35px;
  box-shadow: 5px 5px 50px 5px rgb(114, 250, 248);
}
