.signup-label {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: large;
  font-weight: 600;
  color: aliceblue;
}
.signup-button {
  text-align: center;
  margin-top: 12px;
}
.signup-warningMsg {
  text-align: center;
  color: rgb(240, 26, 26);
  font-size: larger;
}
