.login-label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
  color: aliceblue;
}
.login-button {
  text-align: center;
  margin-top: 20px;
}

.input {
  position: relative;
  width: 100%;
  border: none;
}
.atag {
  margin-top: 15px;
  margin-left: 5px;
  border: none;
  outline: none;
  color: aqua;
  text-decoration: underline;
}
.login-title {
  text-align: center;
  color: antiquewhite;
  height: 40px;
  font-size: 25px;
}
