.login-label {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: large;
  font-weight: 600;
  color: aliceblue;
}
.login-button {
  text-align: center;
  margin-top: 20px;
}
.login-warningMsg {
  text-align: center;
  color: rgb(255, 17, 17);
  font-size: larger;
  font-weight: 600;
}
.input {
  position: relative;
  width: 100%;
  border: none;
}
.atag {
  margin-top: 15px;
  margin-left: 5px;
  border: none;
  outline: none;
  color: aqua;
}
.login-title {
  text-align: center;
  color: antiquewhite;
  height: 40px;
  font-size: 25px;
}
